@font-face {
    font-family: "Bungee";
    src: url(fonts/Bungee-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
}

.container {
    font-family: Geneva, Verdana, sans-serif;
    padding: 20px;
}

.info-in-center {
    max-width: 1100px;
    margin: 30px auto;
}

.site-header {
    background-color: #2481cc; /* Фирменный синий цвет Telegram */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-family: "Bungee";
    color: #ffffff;
    font-size: 32px;
    font-weight: 600;
}

.nav-menu {
    font-family: Geneva, Verdana, sans-serif;
    display: flex;
    gap: 15px;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    padding: 8px 12px;
    border-radius: 6px;
    transition: background 0.2s;
}

/* Эффект при наведении */
.nav-link:hover, .active-link {
    background-color: rgba(0, 0, 0, 0.1);
}

/* --- Главная ---  */
.about-company-main-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    padding: 50px;
}
@media (max-width: 768px) {
    .about-company-main-page {
        flex-direction: column;
        text-align: center;
    }
}
h1 {
    margin-bottom: 15px;
    font-size: 24px;
}
.about-company-main-page h1 {
    width: 500px;
}
.about-company-main-page p {
    font-size: 12px;
    color: #444;
}
.about-company-main-page-image {
    border: 5px solid #2481cc;
}
/* Список плюсов */
.main-page-pluses {
    margin: 100px 0;
}
.plus-character {
    font-family: "Bungee";
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    color: #2481cc;
}
.main-page-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.card-pluses {
    min-height: 500px;
    width: 25%;
    border: 2px dotted black;
}
.card-pluses .topic {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
    background: #2481cc;
    color: white;
    padding: 10px;
}
.card-pluses .opisanie {
    font-size: 16px;
    padding: 15px;
}
@media (max-width: 768px) {
    .main-page-list {
        flex-direction: column;
        align-items: center;
    }
    .card-pluses {
        width: 100%;
        max-width: 500px;
    }
}
.blue-block-recommendation {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    background: #2481cc;
    font-family: "Bungee", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* --- Продукция --- */
h3, p {
    margin: 0;
}
.products-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 20%;
}

.product-card {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 10px;
    height: 450px;
    width: 304px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

img {
    width: 300px;
    height: 300px;
    border: 2px solid black;
}

.buy-btn {
    background-color: #2481cc;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}

.buy-btn:hover {
    background-color: #1c71b7;
}

h3 {
    font-family: "Bungee";
}

/* --- Контакты и Карта --- */
.map {
    margin: 50px 0;
}
/* Директор инфа фото */
.director-card {
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: right;
    border: 3px solid #2481cc;
    width: 600px;
    padding: 10px;
}
.director-info {
    padding: 15px;
}
.director-info p, .director-info h3 {
    font-family: Verdana, sans-serif;
    color: #444;
}
.to-left {
    text-align: left;
}
.to-center {
    text-align: center;
}
.flex-element {
    display: flex;
    flex-direction: column;
}
.flex-and-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Часто задаваемые вопрсоы в странице ТехПоддержка */
.faq {
    margin-top: 50px;
}

.faq-item {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid black;
}

.faq-question {
    font-weight: bold;
    font-size: 16px;
}

.faq-answer {
    margin-top: 10px;
    color: #444;
}
